* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  /* variaveis de cores */
  --green: #3c735f;
  --yellow: #f2cb05;
  --orange: #f2a922;
  --red: #a62f26;
  --white: #dadada;
  --black: #212121;
  --gray: #4b4b4b;
}

body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background: url(../../assets/portrait_bg.jpg);
  background-size: cover;
  background-position: center center;
  transition: background 0.5s ease;  
}

main {
  display: flex;
  flex-direction: column;
  padding: 3rem 5vw;
  align-items: center;
}

.line {
  position: absolute;
  top: 50%;
  height: 3px;
  width: 100%;
  transform: translateY(-50%);
  background-color: var(--black);
  z-index: 1;
}

#gameOverTitle {
  color: var(--white);
}

.mainContainer {
  position: relative;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
  max-width: 60rem;
  width: 100%;
  min-width: 18rem;
  height: 18rem;
  border-radius: 0.5rem;
}

.playerWp {
  /* position: relative; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-weight: bold;
  font-size: 1.3rem;
  background: var(--gray);
}

.cardWp {
  position: relative;
}

.vCountWp {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -0.7rem;
  right: -1.9rem;
  color: var(--black);
  background-color: var(--white);
  width: 1.5rem;
  height: 2.2rem;
  border-radius: 0.3rem;
  box-shadow: inset 0 0 0 1px var(--white), inset 0 0 0 3px var(--black);
  transform: rotate(-10deg);
}

#player1Div {
  border-radius: 0.5rem 0.5rem 0 0;
}
#player2Div {
  border-radius:  0 0 0.5rem 0.5rem;
}

.winner {
  background: var(--green);
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--black);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  background: var(--orange);
  font-weight: bold;
  z-index: 2;
}

/* LANDSCAPE SCREEN */
@media only screen and (min-width: 550px) {
  .mainContainer {
    height: 18rem;
  }

  body {    
    background: url(../../assets/landscape_bg.jpg);
    background-size: cover;
    background-position: center center;
    transition: background 0.5s ease;
    max-height: 100vh;
  }

  main {
    padding: 0 5vw;
  }

  button {    
    height: calc(5rem + 2vw);
    width: calc(5rem + 2vw);    
    font-size: calc(1.2rem + 0.5vw);    
  }

  button:hover {
    filter: brightness(0.8);
    transition: filter 0.3s;
    cursor: pointer;
  }

  .playerWp:hover {
    filter: brightness(1.05);
  }

  span {
    font-size: calc(1.5rem + 0.5vw);
  }

  .winner span {
    font-size: calc(2rem + 0.5vw);
  }

  input {
    font-size: calc(0.6rem + 0.5vw);
  }
}