* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  /* variaveis de cores */
  --green: #3c735f;
  --green-t: rgba(60, 115, 95, 0.9);
  --yellow: #f2cb05;
  --orange: #f2a922;
  --white: #dadada;
  --black: #212121;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../../assets/portrait_bg.jpg");
  background-size: cover;
  background-position: center center;
}

.mainContainer {
  display: grid;
  grid-template-rows: 4rem 11rem 3rem;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
  max-width: 50rem;
  width: 90%;
  min-width: 18rem;
  height: 18rem;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: url("../../assets/poker_table_bg.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 500;
}

.headerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgb(60,115,95);
  background: linear-gradient(45deg, rgba(60,115,95,1) 22%, rgba(34,75,59,1) 50%, rgba(60,115,95,1) 78%);
  color: var(--white);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 85%;
}

.footer {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  height: 100%;
  width: 100%;
}

#cardCall {
  height: 2.9rem;
}
#passCall {
  height: 2.5rem;
  transform: scaleX(-1);
}

.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green);
  max-width: 50rem;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-size: 2.5rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  height: 100%;
  width: 100%;
  background: var(--orange);
  font-size: 1.2rem;
  font-weight: 500;
  transition: filter 0.5s;
}

button#stopBtn {
  border-radius: 0 0 0.5rem 0;
}
button#actionBtn {
  border-radius: 0 0 0 0.5rem;
}